<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ha.ltschat.mapper.UserMapper">
    <insert id="addUser" parameterType="map">
        INSERT INTO users (uuid,username,password,type,major,icon)
        VALUES

            (#{uuid}, #{userName}, #{password}, #{type}, #{major}, #{icon})

    </insert>
    <select id="getUsers" resultType="com.ha.ltschat.model.User">
        select * from users
    </select>
    <select id="getStudentsByName" resultType="com.ha.ltschat.model.User">
        select * from users where LOWER(username) like LOWER(concat('%', #{name}, '%')) AND type = 0
    </select>
    <select id="getTeachersByName" resultType="com.ha.ltschat.model.User">
        select * from users where LOWER(username) like LOWER(concat('%', #{name}, '%')) AND type = 1
    </select>
    <select id="findByUuid" parameterType="java.lang.String" resultType="com.ha.ltschat.model.User">
        select * from users where uuid = #{uuid}
    </select>
    <select id="checkStudent" resultType="com.ha.ltschat.model.User">
        SELECT u.uuid, u.username,u.major,u.icon
        FROM users u
                 INNER JOIN student_course sc ON u.uuid = sc.studentid
        WHERE sc.courseid = #{course} AND u.uuid=#{uuid}
    </select>
    <select id="checkTeacher" resultType="com.ha.ltschat.model.User">
        SELECT u.uuid, u.username,u.major,u.icon
        FROM users u
                 INNER JOIN teacher_course tc ON u.uuid = tc.teacherid
        WHERE tc.courseid = #{course} AND u.uuid=#{uuid}
    </select>
    <select id="getStudentsByCourseUuid" resultType="com.ha.ltschat.model.User">
        SELECT u.uuid, u.username,u.major,u.icon
        FROM users u
                 INNER JOIN student_course sc ON u.uuid = sc.studentid
        WHERE sc.courseid = #{uuid}
    </select>
    <select id="getTeachersByCourseUuid" resultType="com.ha.ltschat.model.User">
        SELECT u.uuid, u.username,u.major,u.icon
        FROM users u
                 INNER JOIN teacher_course tc ON u.uuid = tc.teacherid
        WHERE tc.courseid = #{uuid}
    </select>
    <insert id="addStudents" parameterType="map">
        INSERT INTO student_course (studentid, courseid)
        VALUES
        <foreach collection="uuidList" item="uuid" separator=",">
            (#{uuid}, #{courseUuid})
        </foreach>
    </insert>
    <insert id="addTeachers" parameterType="map">
        INSERT INTO teacher_course (teacherid, courseid)
        VALUES
        <foreach collection="uuidList" item="uuid" separator=",">
            (#{uuid}, #{courseUuid})
        </foreach>
    </insert>
    <delete id="deleteStudentByUuid">
        DELETE FROM student_course
        WHERE courseid = #{cUuid} AND studentid = #{sUuid}
    </delete>
    <delete id="deleteTeacherByUuid">
        DELETE FROM teacher_course
        WHERE courseid = #{cUuid} AND teacherid = #{tUuid}
    </delete>
    <select id="getTeacherNum" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM teacher_course
        WHERE courseid = #{cUuid}
    </select>
    <delete id="deleteStudentsInCourse">
        DELETE FROM student_course
        WHERE courseid = #{uuid}
    </delete>
    <delete id="deleteTeachersInCourse">
        DELETE FROM teacher_course
        WHERE courseid = #{uuid}
    </delete>
    <update id="updatePassword">
        UPDATE users SET password=#{password} WHERE uuid=#{uuid}
    </update>
    <update id="updateIcon">
        UPDATE users SET icon=#{icon} WHERE uuid=#{uuid}
    </update>
    <update id="updateInfo">
        UPDATE users SET userName=#{userName},major=#{major} WHERE uuid=#{uuid}
    </update>
</mapper>