<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ha.ltschat.mapper.UserMapper">
    <select id="getUsers" resultType="com.ha.ltschat.model.User">
        select * from users
    </select>
    <select id="findByUuid" parameterType="java.lang.String" resultType="com.ha.ltschat.model.User">
        select * from users where uuid = #{uuid}
    </select>
    <select id="getStudentsByCourseUuid" resultType="com.ha.ltschat.model.User">
        SELECT u.uuid, u.username,u.major
        FROM users u
                 INNER JOIN student_course sc ON u.uuid = sc.studentid
        WHERE sc.courseid = #{uuid}
    </select>
    <select id="getTeachersByCourseUuid" resultType="com.ha.ltschat.model.User">
        SELECT u.uuid, u.username,u.major
        FROM users u
                 INNER JOIN teacher_course tc ON u.uuid = tc.teacherid
        WHERE tc.courseid = #{uuid}
    </select>
    <delete id="deleteStudentByUuid">
        DELETE FROM student_course
        WHERE courseid = #{cUuid} AND studentid = #{sUuid}
    </delete>
</mapper>